<div class="wrapper">
    <div class="main" class="page-header" style="background-image: url('./assets/img/pic.jpg');">
        <div class="container">
            <div class="header-margin"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title text-center">
                        <h2
                            style="color: #FFFFFF;text-align:center; font-size: 82px; padding-bottom: 0.1em; font-weight: bolder;">
                            Home</h2>
                        <h3
                            style="color: #FAF9F6; text-align:center; font-weight: bold; padding-bottom: 1.3em; font-size: 32px;">
                            Enhanced
                            banking experience
                        </h3>
                    </div>
                </div>
            </div>
            <div class=" row" style="padding-bottom: 1em; padding-left: 1.2em;">
                <div class="col-md-6">
                    <a routerLink="/account">
                        <div class="card card-button">
                            <h3 class="card-title ml-auto mr-auto mb-auto mt-auto"
                                style="color: white; font-size: 30px;">Check Balance
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 " style="padding-left: 1em;">
                    <a routerLink="/history">
                        <div class="card card-button">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto"
                                style="color: white; font-size: 30px;">Transaction History</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-left: 1.2em;">
                <div class="col-md-6 " style=" padding-bottom: 28.5em;">
                    <a routerLink="/transfer">

                        <div class="card card-button">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto"
                                style="color: white; font-size: 30px;">Transfer Money</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a routerLink="/chart">
                        <div class="card card-button">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto"
                                style="color: white; font-size: 30px;">Transaction Chart</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>