.card {
    margin-right: auto;
    margin-left: auto;
    width: 550px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 770px;
    border-radius: 10px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.04);
    padding: 1px;
    text-align: center;
}