<div class="wrapper">
    <div class="main" class="page-header"
        style="padding-bottom: 43em; background-image: url('./assets/img/wp14.jpeg'); background-repeat: no-repeat; background-attachment: fixed;">
        <div class=" container">
            <div class="header-margin"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title text-center"
                        style="text-align: center; color:white;font-size: 24px; padding-top: 14em; padding-bottom: 0.7em;">
                        <h2>Transaction Graphic</h2>
                    </div>
                    <div width="600" height="700" style="background-color: #DBEDFF;">
                        <canvas id="canvas">{{chart}}</canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>